.footer-links{
  padding-left: 30px;
  ul{
    li{
      display: inline-block;
      border-left: 1px solid $color-grey;
      padding: 0 10px;
      margin-bottom: 10px;
      &:first-child{
        border-left: none;
        padding-left:  0;
      }
      a{
        display:  block;
        font-size: 13px;
        color: $color-6;
      }
    }
  }
}